body{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
}
header{
    width: 100%;
    height: 381px;
    background-image: url(./imgs/linx\ BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;    
}
.headText{
    font-size: 36px;
}
.headParagraph{
    font-size: 18px;
}